#play-side{
  display: none;
}
.jumbotron{
  background-image: url('../img/dice.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body{
  text-align: center;
}
#begin{
  background-color: blue;
}
